cython >= 0.29.2
setuptools >= 21.2.1
wheel >= 0.32.2
numpy >= 1.15.2,!=1.19.4
pandas >= 0.23.4
pytz >= 2018.5
requests >= 2.23.0
python-dateutil<2.8.1,>=2.1
mysql-connector-python >= 8.0.20
moz_sql_parser >= 3.0.0, < 4.1.20329
pg8000 >= 1.15.3
pymongo[tls, srv] >= 3.10.1
certifi
asn1crypto==1.3.0
snowflake-connector-python>=2.7.1
duckdb == 0.3.1
mindsdb-sql >= 0.2.0, < 0.3.0
clickhouse-driver >= 0.2.3
